$primaryColor: rgb(40, 52, 73);
$secondaryColor: rgb(83, 107, 148);
$backgroundColor: rgb(25, 25, 29);
$outlineColor: rgba(110, 149, 215, 0.725);
$textColor:rgb(166, 187, 224);
$shadedColor:rgba(0, 0, 0, 0.366);
$frameMinWidth: 150px;
$frameMinHeight: 40px;
$handleHeight: 25px;
$embedAddedButtonHeight: 25px;

$framePadding: 8px;
$editMarkerSize: 50px;

@font-face{
    font-family:'Joystix';
    src: url('./joystix_monospace.ttf') format('truetype');
    font-style: normal;
    fornt-stretch: normal;
}

body{
    overflow:hidden;
}
.nav-element{
    position:'absolute';
    height:100%;
    width: 10%;
}
.app{
    width: 100%;
    height: 100%;
    background-color: $backgroundColor;
    overflow:scroll;
}
.frame{
    border-radius:10px;
    &.wrap{
      min-width:$frameMinWidth;
      min-height:$frameMinHeight;
      text-align:center;
      position: absolute;
      border:none;
      padding: $framePadding;
      z-index:100;
      background:$primaryColor;
      align-items:center;
      user-select:none;
        &.active{
            color: $outlineColor;
            outline: 8px solid;
        }
    }
    &.handle{
        width:100%;
        height:$handleHeight;
        border-radius: 10px;
        background-color:$secondaryColor;
        cursor:pointer;
    }
    &.text{
        max-width:$frameMinWidth;
        width:100%;
        padding:3px;
        color:$textColor;
        word-break: break-word;
    }
    &.text-embed{
        width:100%;
        padding:3px;
        color:$textColor;
        word-break: break-word;
    }
    &.embed{
        // max-width:400px;
        width:100%;
    }
}
.line,#svg-line{
    stroke: $secondaryColor;
    stroke-width: 3px;
    cursor: pointer;
    pointer-events: auto;
    z-index:1
}
#svg-selectionBox{
    stroke: $secondaryColor;
    stroke-dasharray: 5;
    stroke-width:1px;
}
.editBox{
    background-color:$shadedColor
}
.navBar{
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 999;
    height:50px;
    width:100%;
    background-color: $primaryColor;
    padding:0px;
    margin:0px;
    text-align: end;
}
.popupModal{
    $clickboxZIndex:999;
    position:absolute;
    padding:0px;
    margin:0px;
    z-index:$clickboxZIndex;
    width:100vw;
    height:100vh;
    >.modalClickbox{
        pointer-events:'auto';
        position:absolute;
        z-index: -1;
        left:0px;
        top:0px;
        height:100%;
        width:100%;
        overflow:hidden;
        background-color:$shadedColor;
    }
    >.modalWindow{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        width: 20%;
        z-index: 9999;
        border-radius:10px;
        background-color:$primaryColor;
        color:$textColor;
        >.modalForm{
            margin:10px;
            pointer-events: none;
            z-index: 9999;
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            text-align: center;
            >.modalInput{
                width:100%;
                border:none;
                background-color:$backgroundColor;
                color:$textColor;
                margin:10px;
                border-radius:10px;
                &:focus{
                    color: $outlineColor;
                    outline: 5px solid;
                }
            }
            >.modalLabel{
            }
            >.modalSubmit{
                padding:5px;
                border-radius: 10px;
                color:$textColor;
                background-color:$secondaryColor;
                border:none;
                &:focus{
                    color: $outlineColor;
                    outline: 5px solid;
                }
            }
    }
    }
  
}
.embedDeleteTooltip{
    background-color:$shadedColor
}
.embedAddedButton{
    height:$embedAddedButtonHeight;
}
:export {
    framePadding: $framePadding;
    editMarkerSize: $editMarkerSize;
    frameMinWidth: $frameMinWidth;
    frameMinHeight: $frameMinHeight;

    handleHeight: $handleHeight;
    embedAddedButtonHeight: $embedAddedButtonHeight;
  }