$primaryColor: rgb(40, 52, 73);
$secondaryColor: rgb(83, 107, 148);
$backgroundColor: rgb(25, 25, 29);
$outlineColor: rgba(110, 149, 215, 0.725);
$textColor:rgb(166, 187, 224);
$shadedColor:rgba(0, 0, 0, 0.366);
$frameMinWidth: 150px;
$frameMinHeight: 40px;
$handleHeight: 25px;
$baseBorderRadius: 10px;
$frameBorderRadius: 10px;
$embedAddedButtonHeight: 25px;
$lineStrokeWidth: 2px;

$framePadding: 8px;
$editMarkerSize: 50px;

$xs: 480px;
$sm: 768px;
$md: 1024px;
$lg: 1200px;
$xl: 1600px;

@font-face{
    font-family:'Joystix';
    src: url('./joystix_monospace.ttf') format('truetype');
    font-style: normal;
    fornt-stretch: normal;
}
@mixin m-0{
    margin:0px;
}
@mixin p-0{
    padding:0px;
}
@mixin pm-0{
    @include m-0;
    @include p-0;
}
@mixin h-100{
    height:100%;
}

.h-100{
    @include h-100;
}
.m-0{
    @include m-0;
}
.p-0{
    @include p-0;
}
.pm-0{
    @include pm-0;
}
@mixin btn($margin-x,$margin-y,$backgroundColor,$borderColor,$textColor,$borderRadius:""){
    margin-left:$margin-x;
    margin-right:$margin-x;
    margin-top:$margin-y;
    margin-bottom: $margin-y;
    
    background-color: $backgroundColor;
    border-color: $borderColor;
    color: $textColor;

    user-select:none;
    cursor: pointer;
    outline:none;
    border:none;
    @if(unquote($borderRadius)!=""){
        border-radius: unquote($borderRadius);
    } @else {
        border-radius: $borderRadius;
    }
}
.holoButton{
    @include btn(2px,0px,$backgroundColor,$secondaryColor,$textColor);
}
body{
    overflow:hidden;
}
.nav-element{
    position:'absolute';
    height:100%;
    width: 10%;
}
.logo{
    font-family:'Joystix';
    user-select:none;
    color:$textColor;
    top: 0px;
    left: 0px;
}
.navBar{
    @include pm-0;
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 999;
    height:50px;
    width:100%;
    font-size: 50px;
    background-color: $primaryColor;
    text-align: end;
}
.navButton{
    @include btn(0px,0px,$backgroundColor,$secondaryColor,$textColor);
    z-index:999;
    width:'10%';
    height:'100%';
}
.app{
    width: 100%;
    height: 100%;
    background-color: $backgroundColor;
    overflow:scroll;
}
.pointer{
    &.zoomIn{
        cursor: zoom-in;
    }
    &.zoomOut{
        cursor: zoom-out;
    }
}
.frame{
    border-radius:$baseBorderRadius;
    &.wrap{
      text-align:center;
      position: absolute;
      border:none;
      padding: $framePadding;
      z-index:100;
      background:$primaryColor;
      align-items:center;
      user-select:none;
        &.active{
            color: $outlineColor;
            outline: 8px solid;
        }
    }
    &.handle{
        width:100%;
        height:$handleHeight;
        border-radius: $baseBorderRadius;
        background-color:$secondaryColor;
        cursor:pointer;
    }
    &.text{
        max-width:$frameMinWidth;
        width:100%;
        padding-top:$framePadding;
        padding-bottom:$framePadding;
        color:$textColor;
        outline:none;
        word-break: break-word;
    }
    &.text-embed{
        width:100%;
        padding-top:$framePadding;
        padding-bottom:$framePadding;
        color:$textColor;
        outline:none;
        word-break: break-word;
    }
    &.embed{
        // max-width:400px;
        width:100%;
    }
}
.line,#svg-line{
    position:absolute;
    stroke: $secondaryColor;
    stroke-width: $lineStrokeWidth;
    cursor: pointer;
    pointer-events: auto;
    z-index:1
}
#svg-selectionBox{
    stroke: $secondaryColor;
    stroke-dasharray: 5;
    stroke-width:1px;
}
.editBox{
    background-color:$shadedColor
}

.popupModal{
    @include pm-0;
    $clickboxZIndex:999;
    position:absolute;
    z-index:$clickboxZIndex;
    width:100vw;
    height:100vh;
    >.modalClickbox{
        pointer-events:'auto';
        position:absolute;
        z-index: -1;
        left:0px;
        top:0px;
        height:100%;
        width:100%;
        overflow:hidden;
        background-color:$shadedColor;
    }
    >.modalWindow{
        @include m-0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        width: 20%;
        z-index: 9999;
        border-radius:10px;
        background-color:$primaryColor;
        color:$textColor;
        >.modalForm{
            margin:10px;
            z-index: 9999;
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            text-align: center;
            >.modalInput{
                width:100%;
                border:none;
                background-color:$backgroundColor;
                color:$textColor;
                margin:10px;
                border-radius:10px;
                &:focus{
                    color: $outlineColor;
                    outline: 5px solid;
                }
            }
            >.modalLabel{
            }
            >.modalSubmit{
                padding:5px;
                border-radius: 10px;
                color:$textColor;
                background-color:$secondaryColor;
                border:none;
                &:focus{
                    color: $outlineColor;
                    outline: 5px solid;
                }
            }
    }
    }
  
}
.embedDeleteTooltip{
    background-color:$shadedColor
}
.embedAddedButton{
    height:$embedAddedButtonHeight;
}
:export {
    framePadding: $framePadding;
    editMarkerSize: $editMarkerSize;
    frameMinWidth: $frameMinWidth;
    frameMinHeight: $frameMinHeight;
    frameBorderRadius: $frameBorderRadius;

    handleHeight: $handleHeight;
    borderRadius: $baseBorderRadius;
    embedAddedButtonHeight: $embedAddedButtonHeight;

    lineStrokeWidth: $lineStrokeWidth;
  }